.navbar {
  padding: 20px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}
.list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.item {
  font-size: 2rem;
  font-weight: bold;
  color: cornflowerblue;
}
.item:hover {
  text-decoration: underline;
}
