.container {
  height: 90vh;
  background-color: blue;
  background-image: url('../../public/images/sfondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: bolder;
  font-size: 3.5rem;
  color: white;
}
