* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0;
}

/* DESKTOP FIRST  */

@media (max-width: 1400px) {
  body {
    display: inline-flex;
  }
}
/* SMALL DESKTOP  */
@media (max-width: 1200px) {
}
/* TABLET  */
@media (max-width: 992px) {
}

/* LARGE PHONE  */
@media (max-width: 768px) {
}

/* MOBILE PHONE  */
@media (max-width: 576px) {
}
