.header {
  position: relative;
  top: 0;
  background-image: url('../public/images/sfondo.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
}

.footer {
  color: white;
  position: relative;
  bottom: 0;
  background-color: rgb(16, 16, 26);
}
.container {
  position: relative;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}

.section {
  scroll-snap-align: center;
}
/* DESKTOP FIRST  */

@media (max-width: 1400px) {
  .container {
    overscroll-behavior-y: none;
    scroll-behavior: unset;
  }
  .header {
    background-image: url('../public/images/sfondo-desktop-1400.jpeg');
  }
}
/* SMALL DESKTOP  */
@media (max-width: 1024px) {
}

/* TABLET  */
@media (max-width: 992px) {
  .header {
    background-image: url('../public/images/sfondo-desktop-tablet.jpeg');
  }
}
@media (max-width: 768px) {
  .carousel {
    display: none;
  }
  .container {
    height: calc(var(--vh, 1vh) * 100);
  }
}
@media (max-width: 576px) {
}
/* LARGE PHONE  */
@media (max-width: 425px) {
}

/* MEDIUM PHONE  */
@media (max-width: 400px) {
  .header {
    background-image: url('../public/images/sfondo-desktop-mobile.jpeg');
  }
}
@media (max-width: 375px) {
}

/* SMALL PHONE  */
@media (max-width: 320px) {
}
