.row {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 3rem auto;
  flex-direction: row;
  gap: 6rem;
}
.col_65 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 65%;
}
.col_35 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 35%;
}
.container_img {
  position: relative;
}
.title {
  color: #17a8f0;
  font-size: 5rem;
  margin-bottom: 1.3rem;
  text-transform: capitalize;
}
.description {
  text-align: center;
  color: white;
  font-size: 1rem;
}
