@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-family: 'Anonymous Pro', monospace;
  width: 100%;
  text-align: center;
  margin: 8rem auto;
  color: black;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  font-size: 3rem;
  font-weight: bolder;
}
.animation {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 3s steps(44) forwards,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.animation span:not(:nth-child(0)) {
  animation-delay: 2s;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border-right: none;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* DESKTOP FIRST  */
/* LARGE DESKTOP  */
@media (max-width: 1440px) {
  .title {
    font-size: 2rem;
  }
}
/* SMALL DESKTOP  */
@media (max-width: 1024px) {
  .title {
    font-size: 1.5rem;
  }
}
/* TABLET  */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .title {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 0.9rem;
    margin: 60% 20%;
  }
}
/* LARGE PHONE  */
@media (max-width: 425px) {
  .title {
    font-size: 0.9rem;
  }
  .container {
    height: 50vh;
  }
}

/* MEDIUM PHONE  */
@media (max-width: 400px) {
  .title {
    font-size: 0.7rem;
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 0.7rem;
  }
}

/* SMALL PHONE  */
@media (max-width: 320px) {
  .title {
    font-size: 0.6rem;
  }
}
