.img {
  border: 1px solid black;
  border-radius: 25px;
  width: 800px;
  height: 400px;
}
.prevButton,
.nextButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.prevButton {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-15px, -50%);
}
.nextButton {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(15px, -50%);
}
