.img {
  border-radius: 25px;
  width: 100%;
  height: 500px;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
}
.prevButton {
  left: 0%;
  transform: translate(-2rem, -50%);
}
.nextButton {
  right: 0%;
  transform: translate(2rem, -50%);
}

/* DESKTOP FIRST  */

@media (max-width: 1440px) {
  .img {
    height: 400px;
  }
}
/* TABLET  */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
 .img{
  height: 300px;
  width: 90%;
 }
}
@media (max-width: 576px) {
  .img{
    height: 250px;
    width: 90%;
  }
}
/* LARGE PHONE  */
@media (max-width: 425px) {
  .img{
    height: 200px;
    width: 100%
  }
}

/* MEDIUM PHONE  */
@media (max-width: 400px) {
 .img{
  height: 150px;
  ;
 }
}
@media (max-width: 375px) {
  .img{
    height: 150px;
   
   }
}

/* SMALL PHONE  */
@media (max-width: 320px) {
  .img{
    height: 150px;
    width: 200px;
   }
}