.row {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background: linear-gradient(black, gray);
}
.col_40 {
  display: flex;
  align-items: center;
  flex-basis: 40%;
  /* background-color: green; */
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.item {
  font-weight: bold;
}
.google,
.github,
.linkedin {
  cursor: pointer;
  width: 50%;
  height: 50%;
}
.github {
  filter: invert(1);
}
.google:hover,
.github:hover,
.linkedin:hover {
  transform: scale(1.2, 1.2);
}
