.row {
  display: flex;
  height: 70vh;
}
.col_40 {
  display: flex;
  flex-basis: 40%;
  background-color: green;
}
.col_60 {
  display: flex;
  flex-basis: 60%;
  background-color: blue;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.item {
  font-weight: bold;
}
