.row {
  display: flex;
}
.col {
  display: flex;
  flex-basis: 30%;
  background-color: green;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.item {
  font-weight: bold;
}
