.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 10vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  width: 80vw;
  height: 100%;
  overflow-x: hidden;
}
.slide {
  padding: 1rem;
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.slide_primary {
  animation: primary 55s linear infinite;
}
.slide_secondary {
  animation: continue 55s linear infinite;
}
.logo-img {
  width: 80px;
  height: 80px;
}
.wrapper:before,
.wrapper:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}
.wrapper:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.wrapper:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes continue {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/* DESKTOP FIRST  */

@media (max-width: 1440px) {
  .logo-img {
    width: 50px;
    height: 50px;
  }
}
/* SMALL DESKTOP  */
@media (max-width: 1024px) {
  .logo-img {
    width: 40px;
    height: 40px;
  }
}
/* TABLET  */
@media (max-width: 992px) {
}

/* LARGE PHONE  */
@media (max-width: 768px) {
}

/* MOBILE PHONE  */
@media (max-width: 576px) {
}
