.header {
  display: flex;
  position: relative;
  top: 0;
}
.footer {
  color: white;
  position: relative;
  bottom: 0;
  background-color: rgb(16, 16, 26);
}
.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 16, 26);
}

.container {
  position: relative;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;

  width: 100%;
}
/* DESKTOP FIRST  */

@media (max-width: 1400px) {
}
/* SMALL DESKTOP  */
@media (max-width: 1024px) {
}

/* TABLET  */
@media (max-width: 992px) {
  .container {
    min-height: 100vh;
  }
}
@media (max-width: 768px) {
  .carousel {
    display: none;
  }
}
@media (max-width: 576px) {
  .container {
    height: calc(var(--vh, 1vh) * 100);
  }
}
/* LARGE PHONE  */
@media (max-width: 425px) {
  .container {
    min-height: 100vh;
  }
}

/* MEDIUM PHONE  */
@media (max-width: 400px) {
}
@media (max-width: 375px) {
}

/* SMALL PHONE  */
@media (max-width: 320px) {
}
